body {
    background-color: #e1e8f6;
    


}



.filtrePays{
	margin-left:5px;
	margin-top:-3px;
}
.filtreTheme{
	margin-top:3px;
	margin-left:5px;
}
/* TEXTE */
.titrepageGros{
    margin-top: 4px;
    margin-right:10px;
    color: #ffffff;
    font-size: 28px;
    font-family: 'calibri','arial';
    font-weight: bolder;
    display: block;
}
.titrepagePetit{
    margin-left:4px;
    margin-top: -4px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'calibri','arial';
    display: block;
}
.titrepage{
    margin-right:10px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'calibri','arial';
}
.texteBlanc{
    color:#ffffff;
    font-size: 14px;
	font-family: 'calibri','arial';
}
.EventsCountry {
    font-size: 18px;
    font-weight: bolder;
    color: #333333;
	font-family: 'calibri','arial';
}
.EventsDate {
    
    font-size: 14px;
	font-family: 'calibri','arial';
}
.EventsTitle {
    font-size: 15px;
    font-style: italic;
	font-family: 'calibri','arial';
	color:#0f6bb6;
}
.panel-body{
	font-family: 'calibri','arial';
}


/* TAILLE POLICE */



/* BLOCS */
.ligneDetail{

}
.detailAcutalite{
    position:absolute;
    background: #0099ff;
    width:400px;
    right:0px;
    z-index: 10;
    top:0px;
    padding: 10px;
    color:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 11px;
}
.ligneDetail:hover{
    
    cursor: pointer;
}
#selectByDatePeriod:hover{
    background-color: #ffffff;
}
.blocConnect{
    margin:10px;
    position: fixed;
    top:0px;
    right: 0px;
}
.memeLigne{
    position:relative;
    display: inline-block;
    margin-left: 5px;
}
.blocSurMemeLigne{
    float:left;
	margin-left:0px;
}
.EventDetail {
    background-color: rgba(255,255,255, 1);
    padding: .3em;
    font-size: 12px;
    font-family: 'calibri','arial';
    width:200px;
    height:100px;
    border-radius: 2px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.EventDetail:hover {
    cursor: move;
}
.menuShow {
    background-color: rgba(255,255,255, 1);
    padding: .3em;
    font-size: 12px;
    font-family: 'calibri','arial';
    position: absolute;
    border-radius: 5px;
    z-index: 10;
    bottom: 0px;
}
#alertDates{
    color:red;
    padding:5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}
.fondDetails{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow:auto;
}
.zoneDetails{
    padding:10px;
	margin-bottom:0px;
	overflow:auto;
}
.zoneCarte{
    overflow: hidden;
}
.lgPetit{
    width:50px;
    font-size: 10px;
}
#board{
    /*overflow: hidden;*/
}
.adroite{
	float:right;
}
.legende{
	position:fixed;
	bottom:13px;
	z-index:10;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
    font-family: 'calibri','arial';
}

.legende span{
	margin-top:2px;
	position:relative;
}


/* MENU */
.menuZoom{
    position:absolute;
    padding: 5px;
    z-index:10;
}
.menu{
    position:absolute;
    padding: 5px;
    z-index:10;
    bottom: 0px;
}
.zoneDetailsMenuTexte{
    margin-top: 5px;
}
.zoneDetailsMenu{
    margin: 5px;
    margin-bottom: 10px;
	font-size: 18px;
    font-family: 'calibri','arial';
}
.searchBar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:10;
    position:relative;
}
.menuItem{
    font-size: 20px;
    margin-top:3px;
    margin-bottom:3px;
    color:#cccccc;
}
.menuItem:hover{
    color:#0059b3;
}



/* IMAGES */
.menu img{
    width:40px;
    margin-left: 10px;
}
.logoUn{
    height:170px;
	vertical-align: baseline;
}
.zoomButton{
    width:30px;
    margin-left: 10px;
}
.zoomButton:hover{
    cursor: pointer;
}
.imgMenu:hover{
    cursor: pointer;
}
.smallImage{
    width:40px;
}
.VerySmallImage{
    width:15px;
}




.DateRange{
    position:absolute;
    z-index:10;
    color:#ffffff;
    margin-top:-20px;
    width:200px;
    font-size: 10px;
    font-family: 'calibri','arial';
    margin-left:10px;
}






.pointer:hover{
    cursor: pointer;
}

.pointerText:hover{
    cursor: pointer;
	color:#ff0000;
}


#closeMenuShow:hover{
    cursor: pointer;
}






















/* CARTE */
#carte{
   /*width:842px;
    height: 595px;*/
	transform: scale(1, 1);
    /*position:fixed;*/
}

#carte polygon:hover{
    cursor: move;
}

.pinImage:hover{
    cursor: pointer;
    
}
.pinImage{

}

.captureZone{
    position:absolute;
    z-index:0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



.cell{
    padding: 5px;
}

.cell div{
    padding: 5px;
    background-color: #ffeecc;
}

.bubbleMenu{
    position:absolute;
    width:auto;
    height: auto;
    padding:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    z-index:10;
}



.bubbleMenu img{
    margin-left: 5px;
}


.imgDetail{
    width:40px;
    float: left;
}


.info_panel {
  background-color: rgba(255,255,255, 1);
  padding: .3em;
  font-size: 14px;
  font-family: 'calibri','arial';
  position: absolute;
    border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titreInfoPanel {
  font-size: 14px;
  font-family: 'calibri','arial';
  font-weight:bolder;
  color:#0099ff;
}



 text{
    /*fill:#ffffff;text-shadow: 2px 2px 4px #000000;*/
}


